@model IEnumerable<MovieViewerProject.Models.ViewModels.UserListVm>

@{
    ViewData["Title"] = "Index";
}

<h1>User List and Roles</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoleNames)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleNames)
                </td>

            </tr>
        }
        <p>
            <a asp-action="AssignRoles">Assign Roles</a>
        </p>
    </tbody>
</table>